/*--------------------------------------------------------------

    Template:  Sheltek Real Estate HTML5 Template
    Author: http://devitems.com/
    Version: 1
    Design and Developed by: http://devitems.com/

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.contact-messge:before{
    background: none !important;
}

.button-3 {
    background: #353851 none repeat scroll 0 0;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

.button-3:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #353851;
    color: #353851;
}


.mobile-menu-area {
    background: #353851;
}

.service-item-info{
   min-height: 200px;
}

.service-item-image img{
    height: 150px;
}
.mean-container .mean-bar::after {
    color: #ffffff;
    content: "SOTYLIFE";
    font-size: 16px;
    left: 5%;
    position: absolute;
    top: 15px;
}

.latest-news-info{
    width: 100%;
}

.latest-news-info p{
    font-size: 15px;
    line-height: 28px;
}

.footer-contact button{
    float: right;
    background-color: #ff7f00;
    color: #fff;
    

}

.find-home-area .section-title{
    margin-top: -10px;
}

.price span{
    font-size: 15px;
}

#scrollUp {
    bottom: 20px;
    width: 30px;
    height: 30px;
}
#scrollUp i{
    line-height: 0; 
}

.slider-1-title-2{
    font-size: 40px;
}

.bread-bg-about {
    background: rgba(0, 0, 0, 0) url(/user/images/bg/about-us.jpg) no-repeat scroll 0 0 / cover;
}

.bread-bg-information{
    background: rgba(0, 0, 0, 0) url(/user/images/bg/bg.jpg) no-repeat scroll 0 0 / cover;
}

.bread-bg-services{
    background: rgba(0, 0, 0, 0) url(/user/images/bg/services.jpg) no-repeat scroll 0 0 / cover;
}

.bread-bg-houses{
    background: rgba(0, 0, 0, 0) url(/user/images/bg/houses.jpg) no-repeat scroll 0 0 / cover;
}

.bread-bg-cars{
    background: rgba(0, 0, 0, 0) url(/user/images/bg/cars.jpg) no-repeat scroll 0 0 / cover;
}


.widget-add-info{
    bottom: 65px;
}

.slick-slider buttom{
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom: 100px !important;
    
}

.find-home-area .section-title{
    margin-left: -25px;
}

.features-info:before{
    border-bottom: 542px solid #f5f5f5;
   
}

.breadcrumbs-title{
    padding: 200px 0 150px;
}

.panel-default>.panel-heading{
    background:  rgba(31, 34, 62, 0.9) none repeat scroll 0 0;
    color: white;
    padding: 15px;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
    color: #fff;
}

.panel{
    border: none;
}


.main-menu > li + li{
    margin-left: 35px;
}


.services-menu{
    border: 1px solid #fff;
    margin-top: 10px;
}

.services-menu  > a {
   margin: 0 10px;
   color: #ff7f00 !important;
   padding: 5px 0 !important;
} 

.services-menu  > a:hover {
   color: #fff !important;
} 

.sticky .services-menu > a:hover{
    color: #303030 !important;;
}

.top-navbar{
    position: absolute;
    width: 100%;
    margin: auto;
    background: rgba(31, 34, 62, 0.9) none repeat scroll 0 0;
    transition: all 0.3s ease 0s;
    height: 200px;
}

.lang > li{
    margin-left: 10px !important;
    display: inline;
    float: left;
    border-left: 1px solid rgba(31, 34, 62, 0.9);
     padding-left: 5px;
}

.header-info ul > li{
    text-align: left;
   
}

.reservation-bg {
    background: rgba(0, 0, 0, 0.1);
}

.service-item{
    margin-bottom: 5px;
    margin-top: 10px;
}

.slick-next{
    border: 1px solid #1f223e !important;;
    margin: 5px !important;
    padding: 0 5px;
}


.slick-prev{
    border: 1px solid #1f223e !important;;
    margin: 5px !important;;
}

@media (max-width: 767px)
{
    .container {
        width: 350px;
    }

    .slider-1-title-2 {
        font-size: 22px;
    }
}