<template>
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12">
        <div class="form-group">
            <h4 class="coin-box-title">Your Balance Will Be :</h4>

            <label for="">Your Investment - <strong>BITCOIN</strong> (BTC)*:</label>
            <input type="text" class="form-control" id="" placeholder="How much do you invest?">
        </div>

    </div>

</template>

<script>
    export default {

         props: {
            
            coinconvertions: null,
            

         },

         
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
