.navigation .menu > li.current > a {
    background: #ff7f00;
    color: #ffffff;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group{
	margin-left: 0 !important;
}

table.table-small-font{
	font-size: 15px !important;
}

.investment-Active{
	padding: 5px 12px;
	color: white;
	background: green;
}


.investment-Inactive{
	padding: 5px 12px;
	color: white;
	background: red;
}
.latest-news-info > p{
	text-align: justify;
}
.withdraw-Send{
	padding: 5px 12px;
	color: white;
	background: green;
}

.withdraw-Waiting{
	padding: 5px 12px;
	color: green;
	font-weight: 700px !important;
}

.withdraw-Refused{
	padding: 5px 12px;
	color: white;
	background: red;
	font-weight: 700px !important;
}

.withdraw-Approved{
	padding: 5px 12px;
}


.box-contact .team-details {
    font-size: 16px;
    color: #a8a8a8;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 20px;
}


.box-contact .team-details span {
    font-weight: 700;
  
}

.frm-input{
			text-align: left;
		}
.team-avatar{
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
}

.email-address {
     font-size: 12px ; 
	}


.bg-orange{
	background: #ff7f00;
}


.bg-navy-blue{
	background: #1f223e;
}

.bg-navyblue{
	background: #1f223e;
}
.bg-navy-blue:hover{
	background: #ff7f00;
}

.petekler{
	background: #1f223e;
	color: #fff;
}


.invalid-feedback{
	color: red;
}

.btn-orange .btn-orange{
	border-color: #Ff7f00 !important;
    color: #Ff7f00 !important;
}

.address{
	font-size: 20px;
}

.number_soties{
	color: #ff7f00;
	font-size: 28px;
	text-align: center;
	padding: 10px;
	margin-bottom: 25px;
	border-bottom:  1px solid #fff;
}

.soty-box{
	height: 70px !important;
}


label {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;

}

@media(max-width:767px){ 
		.petek{
			margin: 5px 12px;
		}

		.main-content{
			margin: 0 15px;
		}

		.box-content{
			padding: 5px;
		}
	 }


@media(min-width:768px){}
@media(min-width:992px){}
@media(max-width:1200px){

	.address-name h4{
		font-size: 10px !important;
	}

		.desc span{
			color: green;
			font-size: 10px !important;
		}

	.team-avatar{
		text-align: center;
		display: center;
	}
	
}


