/*
Version 2.0
[Table of contents]
-------------------------------------------------------------------------
1. General
2. Header
3. Fixed Nabar
4. Main Menu
5. Menu Active
6. Box content
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
1. General
*/
html,
body {
  background: #f3f3f3;

}
#wrapper {
  background: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
2. Header
*/
.header .logo {
  background-color: #1f223e;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
3. Fixed Nabar
*/
.fixed-navbar {
  background: #1f223e;
  color: #fff;
}
.fixed-navbar .ico-item {
  color: #fff;
}
.fixed-navbar .ico-item:hover {
  color: #Ff7f00;
}
.menu-mobile-button {
  background: #1f223e;
  color: #Ff7f00;
}
@media (min-width: 1025px) {
  .searchform .button-search:hover {
    color: #1f223e;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
4. Main Menu
*/
.main-menu {
  background: #1f223e;
  color: #ffffff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.main-menu .user .name a {
  color: #ffffff;
}
.main-menu .user .control-wrap > .fa {
  color: #ffffff;
}
.navigation .title {
  color: #ffffff;
  background: #1b1b1b;
}
.navigation .menu a {
  color: #fff;
}
.navigation .menu a i {
  color: #ffffff;
}
@media (min-width: 1025px) {
  .navigation .menu a:hover {
    color: #ffffff;
  }
  .navigation .menu a:hover i {
    color: #ffffff;
  }
}
.navigation .menu > li.active > a {
  background: #1b1b1b;
  color: #ffffff;
}
.navigation .menu > li.current > a {
  color: #ffffff;
  background: #1b1b1b;
}
.navigation .menu > li.current .current > a {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
5. Menu Active
*/
@media (min-width: 800px) {
  .menu-active .header .logo {
    color: #1f223e;
  }
  .menu-active .header .logo:before {
    background: #1f223e;
  }
  .menu-active .navigation .menu > li:hover > a {
    background: #1b1b1b;
  }
  .menu-active .navigation .menu .sub-menu a {
    background: #1b1b1b;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
6. Box content
*/
.box-content {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
}
/*---------------------------------------------------------------------*/
